.header {
    width: 100%;
    .center();
    flex-direction: column;
    font-size: 1.6rem;
    padding-bottom: 2%;
    background-color: rgb(235, 235, 235);
    

    div {
        font-size: 5rem;
        margin: 1%;
    }

    nav {
        width: 45%;
        .layout(space-around, center);
    }
    a {
        .font();
    }
}

.planet {
    width: 100%;
    .center();

    img{
        border-radius: 3px;
    }
}